on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v
     
      - name: Install golangci-lint
        run: |
          # Создаем директорию для бинарников
          mkdir -p $HOME/bin
          echo "$HOME/bin" >> $GITHUB_PATH
          
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $HOME/bin v2.9.0

      - name: Verify installation
        run: golangci-lint --version

      - name: Build custom linter
        run: golangci-lint custom -v

      - name: Run custom linter on itself
        run: ./custom-gcl run ./...