on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      # 2. Устанавливаем Go
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23

      # 3. Устанавливаем golangci-lint
      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $HOME/bin v2.9.0
          echo "$HOME/bin" >> $GITHUB_PATH

      # 4. Запускаем линтер
      - name: Run golangci-lint
        run: golangci-lint run --verbose
